*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 64, 83);
  height: 100vh;
  width: 100vw;
}

.drum-pads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------------------------------Drum-machine-----------------------------------------------------------*/
#drum-machine{
  background-color: rgb(53, 53, 230);
  border: solid black 2px;
}

/* -----------------------------------------------Display---------------------------------------------------*/
#display {
  background-color: rgb(204, 198, 198);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}